{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1 class="display-3">Welcome to Home Projects!</h1>
        <p class="lead">This is a space to calculate costs for renovating and / or furnishing your home projects.</p>
            <hr class="my-4">
            <p>Use our cost calculator tools to help you estimate the total cost of a project, you can then view the breakdown of each project to help you stay organised.</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="/new" role="button">Get started</a>
        </p>
    </div>
{% endblock %}